<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <div class="container">
            <p><b>About this page:</b> {{content}}</p>
            <img src="/img/daniel.jpeg">
            <br>
        </div>
        {{>footer}}
    </body>
</html>