<!DOCTYPE html>
<html>
    <head>
        <title>Weather API</title>
        <!-- rel = relationship -->
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Lorem ipsum dolor sit amet, pri no errem iriure aliquid, cu usu atqui legere consequat, brute convenire vel in. Diam zril dissentiunt in mel, ei usu nostrud placerat mediocritatem, ne eum nihil quodsi. No dicunt fabulas disputationi quo, dicta mnesarchum an usu. Noluisse intellegat cu has. Mundi salutatus philosophia an usu.

Ex nam veniam verear adolescens. Ius idque fuisset at, te affert virtute sed. Odio congue per no, ex noster detracto ius. Qui ex case harum, adhuc nobis has ei.

Vim falli verear contentiones at, vel eu meis quas atqui, cu vix rebum prompta. Eam persius sententiae ea, in eos esse denique concludaturque. Eu vis verterem contentiones, eu sed dicam verear corpora, ex his discere ceteros. Regione tincidunt quaerendum id nec, no eam alii eripuit disputationi.

Latine indoctum adipiscing et per, nam no primis virtute. Munere nemore debitis ut quo, ut putent everti mea. Ea causae vocibus duo, no quaeque volumus suavitate pri. Suas quaestio mediocrem has ei. Et quod posse pri, et ius velit admodum, his debet iusto paulo in.

Natum mediocrem aliquando sea ne, eum cu velit quaeque. Postea nominavi fabellas ea ius, eirmod appellantur dissentiunt vim eu. Ad graece volutpat vel. Sit ad tation dicant, an duo probo porro sensibus. In nullam propriae scribentur ius. Clita causae has et, ad per docendi epicuri.</p>
        </div>

        {{>footer}}
    </body>
</html>